.footer {
  padding: clamp(45px, 5.2083vw, 75px) 0 clamp(30px, 5.2083vw, 75px);
  background: var(--bg-c);

  &__box {
    display: grid;
    grid-template-columns: 1.35fr .7fr 1fr;
    grid-gap: clamp(32px, 2.7778vw, 40px);

    @include for-laptop{
      padding-right: Min(8.5417vw, 123px);
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(20px, 1.7361vw, 25px);

    &::before{
      content: attr(data-title);
      display: inline;
      font-family: var(--third-family);
      font-weight: 400;
      font-size: clamp(20px, 2.0139vw, 29px);
      color: var(--cl-d);
    }

    ul {
      display: flex;
      flex-direction: column;
      grid-gap: 10px 20px;

      a {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: clamp(14px, 1.1806vw, 17px);
        color: var(--cl-c);
        transition: all 0.3s;
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-color: transparent;
  
        &.active{
          color: var(--cl-d);
          font-weight: 700;

          &:hover{
            text-decoration-color: transparent;
          }
        }

        &:hover {
          color: var(--cl-d);
          text-decoration-color: inherit;
        }
      }
    }
  }

  &__contacts{
    display: flex;
    flex-direction: column;
    grid-gap: clamp(20px, 1.7361vw, 25px);

    &::before{
      content: attr(data-title);
      display: inline;
      font-family: var(--third-family);
      font-weight: 400;
      font-size: clamp(20px, 2.0139vw, 29px);
      color: var(--cl-d);
    }

    ul:not([class]){
      display: flex;
      flex-direction: column;
      grid-gap: 10px;

      li{
        display: flex;
        align-items: center;
        grid-gap: 10px;

        span{
          img,svg{
            display: flex;
            flex-shrink: 0;
            width: 24px;
            aspect-ratio: 1;
          
          }
  
          font-family: var(--second-family);
          font-weight: 400;
          font-size: clamp(16px, 1.3889vw, 20px);
          color:  var(--cl-e);
          display: inline-flex;
          grid-gap: clamp(8px, .6944vw, 10px);
        }
  
        a{
          font-family: var(--second-family);
          font-weight: 400;
          font-size: clamp(16px, 1.3889vw, 20px);
          color:  var(--cl-e);
          display: inline-flex;
          grid-gap: clamp(8px, .6944vw, 10px);
          transition: all .3s;
          text-decoration: underline;
          text-underline-offset: 3px;
          text-decoration-color: transparent;
  
          &:hover {
            color: var(--cl-d);
            text-decoration-color: inherit;
          }
  
          img,svg{
            display: flex;
            flex-shrink: 0;
            width: 24px;
            aspect-ratio: 1;
            position: relative;
            top: 1.5px;
          }
        }
      }
    }
  }

  .socials{
    margin-top: clamp(10px, 1.3889vw, 20px);
  }
}
