.cooking-card {
  
  align-items: center;
  height: 100%;

  @include for-small-tablet {
    display: grid;
    grid-template-columns: repeat(
      2,
      calc(50% - (clamp(20px, 1.6667vw, 24px) / 2))
    );
    align-items: center;
  }

  @include small-tablet {
    display: flex;
    flex-direction: column;
  }

  @include for-mobile{
    grid-gap: clamp(20px, 1.6667vw, 24px);
  }

  @include mobile{
    grid-gap: 6px;
  }

  &__box {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(24px, 2.5vw, 36px);
    justify-content: flex-start;
    height: 100%;

    @include for-tablet {
      padding: clamp(25px, 2.7778vw, 40px) clamp(30px, 4.1667vw, 60px)
        clamp(30px, 4.1667vw, 60px);
    }

    @include tablet {
      @include for-small-tablet {
        padding: 25px 16px 30px;
      }
    }

    @include for-small-tablet {
      max-width: 708px;
      justify-self: start;
    }

    @include small-tablet {
      padding: 6px 20px clamp(25px, 5.556vw, 32px);
      align-self: flex-start;
      grid-gap: 15px;
    }

    .main-btn {
      @include mobile {
        width: 100%;
      }
    }
  }

  .editor {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-size: clamp(27px, 2.4306vw, 35px);
      margin-bottom: 20px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--third-family);
      font-weight: 400;
      line-height: 102%;
      color: var(--cl-d);
    }

    p{
        font-size: clamp(15px, 1.3194vw, 19px);
      }

    @include for-small-tablet {
      max-width: 570px;
    }

    @include small-tablet {
      ul {
        width: fit-content;

        li {
          text-align: start;
        }
      }
    }
  }

  &__image{
    @include for-small-tablet {
        height: clamp(400px, 39.7917vw, 573px);
        width: 100%;
      }
    
      @include small-tablet {
        height: clamp(226px, 45.573vw, 350px);
        order: -1;
        width: calc(100% + (var(--container-offset) * 2));
        margin: 0 calc(var(--container-offset) * -1);
      }

      img,picture{
        object-position: center;
        width: 100%;
        height: 100%;
      }
  }

  &__top{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 14px;
 
    @include for-small-tablet{
        padding-bottom:  calc(clamp(50px, 5.2778vw, 76px) - clamp(24px, 2.5vw, 36px));
        margin-top: clamp(20px, 2.4306vw, 35px);
    }
  }

  &__label{
    display: flex;
    align-items: center;
    grid-gap: 3px;
    background: var(--bg-j);
    padding: 4px 11px 4px 9px;
    border-radius: 80px;
    color: var(--cl-a);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(10px, .9028vw, 13px);
    line-height: 139%;

    svg,img{
      width: clamp(15px, 1.6667vw, 24px);
      height: clamp(15px, 1.6667vw, 24px);
    }
  }

  .transparent-btn{
    height: clamp(52px, 3.75vw, 54px);

    @include small-tablet{
        height: 46px;
        padding: 11px 20px 8px;
    }

    @include mobile{
        align-self: flex-end;
    }
  }
}
