.news-card {
  width: 100%;
  height: 100%;
  background: var(--bg-h);
  padding: 20px clamp(20px, 2.0833vw, 30px) clamp(30px, 3.4722vw, 50px);
  display: flex;
  flex-direction: column;
  min-height: clamp(420px, 37.5vw, 540px);

  @include for-mobile{
    grid-gap: 13px;
  }

  @include mobile{
    grid-gap: 8px;
  }

  &:hover{

    .news-card__image{
        img,picture{
            transform: scale(1.05);
        }
    }
  }

  &__image {
    margin: -20px calc(clamp(20px, 2.0833vw, 30px) * -1) 17px;
    width: calc(100% + (clamp(20px, 2.0833vw, 30px) * 2));
    overflow: hidden;
    flex-shrink: 0;

    @include for-tablet{
      height: clamp(200px, 14.9306vw, 215px);
    }

    @include tablet{
      @include for-small-tablet{
        height: clamp(200px, 20.996vw, 215px);
    }
    }

    @include small-tablet{
      height: clamp(210px, 34.375vw, 264px);
    }

    img,
    picture {
      width: 100%;
      height: 100%;
      transition: all .3s;
    }
  }

  &__bottom{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    grid-gap: clamp(10px, 1.0417vw, 15px);
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: flex-end;

    @include small-tablet{
      justify-content: flex-end;
      flex-direction: row-reverse;
    }
  }

  &__labels{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    grid-gap: clamp(10px, .9722vw, 14px);
  }

  &__label{
    display: flex;
    align-items: center;
    grid-gap: 3px;
    background: var(--bg-j);
    padding: 4px 11px 4px 9px;
    border-radius: 80px;
    color: var(--cl-a);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: clamp(10px, .9028vw, 13px);
    line-height: 139%;

    svg,img{
      width: clamp(15px, 1.6667vw, 24px);
      height: clamp(15px, 1.6667vw, 24px);
    }
  }


  .editor{
    h1,h2,h3,h3,h4,h5,h6{
      font-family: var(--third-family);
      font-weight: 400;
      font-size: clamp(20px, 2.0139vw, 29px);
      line-height: 102%;
    }

    p{
     
      font-family: var(--font-family);
      font-size: clamp(14px, 1.0417vw, 15px);

      &:only-of-type {
        min-height: clamp(50px, 5.4167vw, 78px);
      }

    }

    *{
      margin-bottom: clamp(14px, 1.0417vw, 15px);
      color:  var(--cl-e);
    }
  }
}
