<footer class="footer">
  <div class="container">
    <div class="footer__box">
      <div class="footer__logo">
        <a href="/" aria-label="logo">
          <svg width='98' height='90'>
            <use href='img/sprite/sprite.svg#logo'></use>
          </svg>
        </a>
      </div>

        <nav class="footer__nav" data-title="Меню">
          <ul>
            <li>
              <a href="#">Головна</a>
            </li>
            <li>
              <a href="#">Продукція</a>
            </li>
            <li>
              <a href="#">Рецепти</a>
            </li>
            <li>
              <a href="#" class="active">Про компанію</a>
            </li>
            <li>
              <a href="#">Виробництво</a>
            </li>
            <li>
              <a href="#">Співпраця</a>
            </li>
            <li>
              <a href="#">Блог</a>
            </li>
            <li>
              <a href="#">Контакти</a>
            </li>
          </ul>
        </nav>

        <div class="footer__contacts" data-title="Контакти">
          <ul>
            <li>
              <span>
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#location'></use>
                </svg>
                88000, Україна, Закарпатська область,
                с. Баранинці, вул. Коритнянська, 8
              </span>
            </li>
            <li>
              <a href="tel:380732005180">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#call'></use>
                </svg>
                +38 (073) 200-51-80
              </a>
            </li>
            <li>
              <a href="mailto:alleol@i.ua">
                <svg width='24' height='24'>
                  <use href='img/sprite/sprite.svg#mail'></use>
                </svg>
                alleol@i.ua
              </a>
            </li>
          </ul>

          <ul class="socials">
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg width='33' height='33'>
                  <use href='img/sprite/sprite.svg#fb'></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg width='33' height='33'>
                  <use href='img/sprite/sprite.svg#inst'></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg width='33' height='33'>
                  <use href='img/sprite/sprite.svg#tg'></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg width='33' height='33'>
                  <use href='img/sprite/sprite.svg#Watsap'></use>
                </svg>
              </a>
            </li>
            <li class="socials__item">
              <a class="socials__link" href="#">
                <svg width='33' height='33'>
                  <use href='img/sprite/sprite.svg#Viber'></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>


        <button class="up-btn">
          <svg width='88' height='88'>
            <use href='img/sprite/sprite.svg#top-up'></use>
          </svg>
        </button>
    </div>
  </div>
</footer>