<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Description" content="Макаронні вироби Корона">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Макаронні вироби Корона</title>
 
  <link rel="preload" href="fonts/CharisSIL-Bold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/CharisSIL-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/DM-Sans-Bold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/DM-Sans-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Istok-Web-Bold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Istok-Web-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/PT-Sans-Bold.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/PT-Sans-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Ubuntu-Medium.woff" as="font" crossorigin="anonymous">


  <link rel="stylesheet" href="css/style.css">
</head>
