<header class="header fixed-block">
  <div class="container">
    <div class="header__box">
      <a href="/" class="header__logo" aria-label="logo">
        <svg width='98' height='90'>
          <use href='img/sprite/sprite.svg#logo'></use>
        </svg>
      </a>

      <button class="burger">
        <span class="burger__line"></span>
      </button>

      <div class="mobile">
        <div class="mobile__box">
          <nav class="header__nav">
            <ul>
              <li>
                <a href="index.html">Головна</a>
              </li>
              <li>
                <a href="products.html" class="active">Продукція</a>
              </li>
              <li>
                <a href="recipes.html">Рецепти</a>
              </li>
              <li>
                <a href="about.html">Про компанію</a>
              </li>
              <li>
                <a href="production.html">Виробництво</a>
              </li>
              <li>
                <a href="cooperation.html">Співпраця</a>
              </li>
              <li>
                <a href="blog.html">Блог</a>
              </li>
              <li>
                <a href="contacts.html">Контакти</a>
              </li>
            </ul>
          </nav>

          <a href="tel:380732005180" class="transparent-btn">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#call'></use>
            </svg>
            +38 (073) 200-51-80
          </a>
        </div>
      </div>



    </div>
  </div>
</header>