<header class="header fixed-block sticky">
  <div class="container">
    <div class="header__box">
      <a href="/" aria-label="logo">
        <svg width='98' height='90'>
          <use href='img/sprite/sprite.svg#logo'></use>
        </svg>
      </a>

      <button class="burger">
        <span class="burger__line"></span>
      </button>

      <div class="mobile">
        <button class="burger">
          <span class="burger__line"></span>
        </button>
        <div class="mobile__box">
          <nav class="header__nav">
            <ul>
              <li>
                <a href="index.html" class="active">Головна</a>
              </li>
              <li>
                <a href="#">Продукція</a>
              </li>
              <li>
                <a href="#">Рецепти</a>
              </li>
              <li>
                <a href="#">Про компанію</a>
              </li>
              <li>
                <a href="#">Виробництво</a>
              </li>
              <li>
                <a href="#">Співпраця</a>
              </li>
              <li>
                <a href="#">Блог</a>
              </li>
              <li>
                <a href="#">Контакти</a>
              </li>
            </ul>
          </nav>

          <a href="tel:380732005180" class="transparent-btn">
            <svg width='24' height='24'>
              <use href='img/sprite/sprite.svg#call'></use>
            </svg>
            +38 (073) 200-51-80
          </a>
        </div>
      </div>



    </div>
  </div>
</header>