<div class="overlay fixed-block" data-overlay>

<!--  
  <div class="modal" data-popup="order">
    <button class="close modal__close">
     <svg width='14' height='14'>
       <use href='img/sprite/sprite.svg#close'></use>
     </svg>
   </button>
   <div class="modal__box">
     <h2 class="modal__title subtitle">СТАНЬ ВОЛОНТЕРОМ</h2> 
     <div class="wpcf7">
      <form class="main-form" aria-label="Contact form">
        <label class="main-form__label" for="name_2">
          <input class="main-form__input" id="name_2" name="name_2" placeholder="Имя" type="text">
        </label>

        <label class="main-form__label" for="city_2">
          <input class="main-form__input" id="city_2" name="city_2" placeholder="Город" type="text">
        </label>

        <label class="main-form__label" for="mail_2">
          <input class="main-form__input" id="mail_2" name="mail_2" placeholder="E-mail" type="email">
        </label>

        <label class="main-form__label" for="phone_2">
          <input class="main-form__input" id="phone_2" name="phone_2" placeholder="Телефон" type="tel">
        </label>

        <button class="main-btn">
          Отправить заявку
          <svg width='24' height='24'>
            <use href='img/sprite/sprite.svg#send'></use>
          </svg>
        </button>
      </form>
    </div>
   </div>
 </div>

 <div class="modal info" data-popup="info">
  <button class="close modal__close">
   <svg width='14' height='14'>
     <use href='img/sprite/sprite.svg#close'></use>
   </svg>
 </button>
 <div class="modal__inner" style="background-color: rgba(112, 181, 72, .4)">
  <div class="modal__image">
    <picture>
      <source type='image/webp' srcset='img/index/img2.webp'>
      <img width='444' height='372' src='img/index/img2.png' alt='image'>
    </picture>
  </div>
  
  <div class="modal__wrapp">
    <span class="modal__subtitle">Высококачественные пластиковые хлопья, готовые к использованию</span>
    <p>Стабильные поставки благодаря большим производственным мощностям AzEkol располагает современными мощностями, которые позволяют обеспечить бесперебойные поставки переработанных материалов. Мы используем новейшие технологии и стандарты качества, чтобы удовлетворить потребности наших партнеров в больших объемах сырья. Наши производственные мощности работают круглосуточно, гарантируя надежность и стабильность поставок в любые сроки. Независимо от объема заказа, мы всегда готовы удовлетворить запросы наших клиентов, обеспечивая высокое качество продукции.</p>
  </div>
 </div>
</div> -->


</div>