.main-nav{
    display: flex;
    align-items: center;
    grid-gap: clamp(10px, 1.1111vw, 16px);

    &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        grid-gap: 8px;
        transition: all .4s;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 19px;
        line-height: 139%;
        text-align: center;
        color: var(--cl-e);
        padding: clamp(5px, .4861vw, 7px) clamp(16px, 1.6667vw, 24px);
        border-radius: 80px;
        background: var(--bg-f);

        &.active{
            background: var(--bg-g);
            color: var(--cl-a);
        }


        &:hover{
            color: var(--cl-a);
            background: var(--bg-g);
            opacity: .5;
        }
    }
}