.socials{
    display: flex;
    align-items: center;
    grid-gap: clamp(12px, 1.5972vw, 23px);
    height: fit-content;

    &__link{
        display: flex;
        align-items: center;
        justify-content: center;
        width: clamp(35px, 2.7778vw, 40px);
        aspect-ratio: 1;
        color: var(--cl-d);
        border-radius: 100%;
        transition: all .3s;

        &:hover{
            svg,img{
                transform: scale(1.08);
            }
        }

        svg,img{
            display: flex;
            width: clamp(28px, 2.2917vw, 33px);
            aspect-ratio: 1;
            transition: all .2s;
        }
    }
}