.custom-checkbox{
  position: relative;

  input {
    position: absolute;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
  }

  span {
    cursor: pointer;
    position: relative;
    z-index: 2;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    user-select: none;
    width: 100%;
    font-family: var(--font3);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: var(--cl-l);


    &::before {
      cursor: pointer;
      content: '';
      display: inline-block;
      width: 21px;
      height: 21px;
      margin: 2px;
      flex-shrink: 0;
      flex-grow: 0;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Crect width='19' height='19' x='0.5' y='0.5' fill='%23fff' stroke='%23B5B5B5' rx='5.5'/%3E%3C/svg%3E");
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  input {
    &:checked + span::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='20' fill='none'%3E%3Cpath fill='%23fff' stroke='%23000F9F' d='M6.5.5h8C17.5376.5 20 2.9624 20 6v8c0 3.0376-2.4624 5.5-5.5 5.5h-8C3.4624 19.5 1 17.0376 1 14V6C1 2.9624 3.4624.5 6.5.5Z'/%3E%3Cpath fill='%23000F9F' fill-rule='evenodd' d='M9.75 13.875 6 10.125 7.1925 9 9.75 11.5125 15.3075 6 16.5 7.185l-6.75 6.69Z' clip-rule='evenodd'/%3E%3C/svg%3E");
    }
  }
}
