.details-section{
   padding-top: clamp(25px, 2.5694vw, 37px);
   margin-bottom: clamp(40px, 4.1667vw, 60px);
   

    @include tablet{
        @include for-small-tablet{
        padding-bottom: 30px;
        }
    }

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: 25px;
    }

    &__inner{
        display: grid;
        grid-template-columns: calc(52% - (clamp(30px, 4.6528vw, 67px) / 2)) calc(48% - (clamp(30px, 4.6528vw, 67px) / 2));
        grid-gap: clamp(30px, 4.6528vw, 67px);

        @include tablet{
            grid-template-columns: calc(52% - (clamp(30px, 4.6528vw, 67px) / 2)) calc(48% - (clamp(30px, 4.6528vw, 67px) / 2));
        }

        @include small-tablet{
            grid-template-columns: 100%;
        }
    }

    &__content{
        display: flex;
        flex-direction: column;

        .editor{

            h1,h2,h3,h4,h5,h6{
                font-family: var(--third-family);
                font-weight: 400;
                font-size: clamp(32px, 3.4722vw, 50px);
                line-height: 102%;
                margin-bottom: clamp(18px, 2.1528vw, 31px);
            }

            p{
                font-family: var(--font-family);
                color: var(--cl-b);
                margin-bottom: clamp(20px, 2.4306vw, 35px);
            }

            ul{ 
                grid-gap: 0;
                li{
                    &::before{
                        display: none;
                    }
                    flex-wrap: wrap;
                    padding: clamp(20px, 1.7361vw, 25px) 0;
                    grid-gap: 4px;
                    border-top: solid 1px var(--br-a);

                    &:last-of-type{
                        padding-bottom: 0;
                    }

                    b,strong{
                        font-weight: 700;
                        color: var(--cl-d);
                    }

                    i{
                        font-style: normal;
                        color: var(--cl-b);
                        border: 1px solid var(--br-c);
                        border-radius: 15px;
                        padding: 1px 12.5px;
                        margin-left: clamp(14px, 1.4583vw, 21px);
                    }

                    p{
                        color: var(--bg-b);
                        max-width: 400px;
                    }
                }
            }
        }
    }

    & + .cta-section{
        margin-bottom: clamp(40px, 4.1667vw, 60px);
    }
}