.history-section{
    position: relative;
    z-index: 2;
    overflow: hidden;
    padding: clamp(80px, 14.9306vw, 215px) 0 clamp(90px, 17.9167vw, 258px);
    margin-bottom: clamp(45px, 4.1667vw, 60px);
  
    &__bg {
      position: absolute;
      inset: 0;
      z-index: -1;
      pointer-events: none;
  
      img,
      picture {
        width: 100%;
        height: 100%;
      }
    }

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: clamp(20px, 2.4306vw, 35px);
        align-items: center;
        justify-content: center;

        .editor{
            max-width: clamp(550px, 43.4028vw, 625px);

            @include for-tablet{
                margin-left: Min(16.9444vw, 244px);
            }

            @include for-small-tablet{
                padding: 0 clamp(20px, 2.7778vw, 40px) 0 clamp(24px, 4.1667vw, 60px);
            }

            h1,h2,h3,h4,h5,h6{
                font-family: var(--third-family);
                font-weight: 400;
                font-size: clamp(32px, 3.4722vw, 50px);
                line-height: 102%;
                color: var(--cl-d);
            }

            @include small-tablet{
                *{
                    text-align: center;
                }
            }
        }
    }
}