.order-section{
    margin-bottom: clamp(30px, 4.1667vw, 60px);

    &:last-of-type{
        margin-bottom: clamp(30px, 4.1667vw, 60px);
    }

    &__box{
        padding: clamp(35px, 5.4167vw, 78px) 24px;
        box-shadow: 0 8px 35px 0 rgba(0, 0, 0, 0.06);
        background: var(--bg-a);
        display: flex;
        flex-direction: column;
        grid-gap: clamp(25px, 4.1667vw, 60px);

        .main-top{
           align-items: center;
           text-align: center; 
        }

        .main-form{
            max-width: 618px;
        }
    }
}