.single-section{

    &__bottom{
        padding-top: 32px;
        border-top: 1px solid var(--br-c);
        width: 100%;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 24px;
    }

    .blog-slider{
        margin-bottom: 32px;

        &:before{
            position:absolute;
            content: '';
            left: 0;
            right: 0;
            height: 1px;
            bottom: -32px;
            border-bottom: 1px solid var(--br-c);
            pointer-events: none;

            @include small-tablet{
                left: var(--container-offset);
                right: var(--container-offset);
            }
        }
    }

    &__wrapp{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 32px;
        position: relative;
        align-self: center;
        max-width: 1014px;
        width: 100%;

        .share{
            z-index: 10;
            position: absolute;
            right: 0;

            @include for-tablet{
                top: calc(460px + 40px);
            }

            @include tablet{
                top: calc(clamp(220px, 44.922vw, 460px) - 18px);
                transform: translateY(-100%);
                right: -8px;
            }
        }
    }

    &__box{
        display: flex;
        flex-direction: column;
        grid-gap: 32px; 
    }

    &__top{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 12px;

        .title{
            text-align: center;
            text-transform: initial;
            max-width: 1014px;
            font-size: clamp(30px, 3.2552vw, 50px);
        }
    }


    .editor{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

            *{
                max-width: 801px;
                width: 100%;
            }

            p{
                font-size: 20px;
                margin-bottom: clamp(10px, 1.237vw, 19px);

                & + h1, & + h2, & + h3, & + h4, & + h5,& + h6{
                    margin-top: 17px;
                  }
            }

        img{
            display: flex;
            border-radius: clamp(20px, 1.5625vw, 24px);
            width: 100%;
            max-width: 1014px;
            @include for-tablet{
                height: 460px;
            }
            @include tablet{
                height: clamp(220px, 44.922vw, 460px);
            }
        }
    }
}