.usage-section{
    margin-bottom: clamp(80px, 8.4635vw, 130px);

    &__box {
      display: flex;
      flex-direction: column;
      grid-gap: clamp(32px, 3.125vw, 48px);
    }

    &__inner {
      padding-top: clamp(81px, 8.4635vw, 130px);
      border-top: solid 1px var(--br-c);
  
      display: flex;
      flex-direction: column;
      grid-gap: clamp(32px, 3.125vw, 48px);
  
      .main-top {
        max-width: 882px;
      }
    }
}