.accordion{
    display: flex;
    flex-direction: column;

    &__item{
        display: flex;
        flex-direction: column;

        @include for-tablet{
            padding: clamp(20px, 2.0833vw, 30px) clamp(30px, 2.7778vw, 40px) clamp(20px, 2.0833vw, 30px) clamp(30px, 4.1667vw, 60px);
        }

        @include tablet{
            padding: clamp(16px, 2.0833vw, 30px) clamp(16px, 2.7778vw, 40px)
        }

        &:not(:last-child){
            border-bottom: 1px solid var(--br-a);
        }

        &.active{
            .accordion__btn-icon{
                transform: rotate(45deg)
            }
        }
    }

    .editor{
        padding-top: clamp(16px, 1.3889vw, 20px);
    }

    &__btn{
        width: 100%;
        display: flex;
        align-items: center;
        grid-gap: 20px;
        justify-content: space-between;
        transition: all .3s;
        font-family: var(--second-family);
        font-weight: 700;
        font-size: clamp(18px, 2.0139vw, 29px);
        line-height: 102%;
        color: var(--cl-d);
        text-align: start;

        svg,img{
            width: 24px;
            height: 24px;
            transition: all .3s;
        }

        &:hover{
            color: var(--cl-g);
        }

       

        &-icon{
            display: flex;
            align-items: center;
            justify-content: center;
            width: clamp(18px, 1.5278vw, 22px);
            height: clamp(18px, 1.5278vw, 22px);
            position: relative;
            z-index: 3;
            align-self: flex-start;
            margin-top: clamp(1px, .2778vw, 4px);
            flex-shrink: 0;
            transition: all .4s;

            &::before{
                transition: all .3s;
                content: '';
                width: 100%;
                height: 3px;
                background: var(--cl-d);
                border-radius: 10px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
            }

            &::after{
                content: '';
                height: 100%;
                width: 3px;
                background: var(--cl-d);
                border-radius: 10px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                position: absolute;
                transition: all .3s;
            }
        }
    }


    &[data-always-open]{
        .accordion{

            &__btn{
                color: var(--cl-d) !important;
            }

            &__btn-icon{
                display: none;
            }
        }
    }
}