.blog-slider{
    position: relative;
    width: 100%;

    @include for-small-tablet{
        max-width: 800px;
    }

    @include small-tablet{
        width: calc(100% + (var(--container-offset) * 2));
        margin: 0 calc((var(--container-offset) * -1));
    }
    
    &__slide{
        height: 100%;
    }

    &__image{
        display: flex;
        height: 100%;
        width: 100%;

        img,picture{
            border-radius: clamp(16px, 1.5625vw, 24px);
            width: 100%;

            @include for-tablet{
                height: clamp(400px, 29.9479vw, 460px);
            }
            
            @include tablet{
                height: clamp(220px, 44.922vw, 460px);
            }
        }
    }

    &__container{
        border-radius: clamp(16px, 1.5625vw, 24px);

        @include small-tablet{
            padding: 0 var(--container-offset);
        }
    }

    &__nav{
        @include for-small-tablet{
            display: contents;
        }
     

        @include small-tablet{
            margin-top: 12px;
            display: flex;
            align-items: center;
            grid-gap: 20px;
            width: 100%;
            justify-content: center;
        }
    }

    &__btn{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 54px;
        height: 54px;
        border: 1px solid var(--cl-d);
        border-radius: 100%;
        color: var(--cl-d);
        transition: all .3s;

        &:hover{
            background: var(--cl-d);
            color: var(--cl-a);
        }
    }

    .swiper-pagination{
        @include for-small-tablet{
            display: none;
        }
    }

    .swiper-button{
        &-next{
            @include for-small-tablet{
                position: absolute;
                bottom: 13px;
                right: 0;
            }
        }

        &-prev{
            @include for-small-tablet{
                display: none;
            }

            svg,img{
                transform: scaleX(-1);
            }
        }
    }
}

.sub-slider{

    

    &__slide{
        cursor: pointer;
        border-radius: 10px;
        position: relative;
        z-index: 1;

        &::before{
            position: absolute;
            content: '';
            background: rgba(17, 116, 166, 0.5);
            inset: 0;
            border-radius: 10px;
            z-index: 2;
            opacity: 0;
            transition: all .2s;
            pointer-events: none;
        }

        &.swiper-slide-active{
            &::before{
                opacity: 1;
            }
        }
    }

    &__container{
        max-width: calc(100% - 66px);
        border-radius: 10px;
        position: relative;
        margin:12px 0 0;

        @include small-tablet{
            display: none;
        }
    }
    
    &__image{
        height: 79px;

        img,picture{
            border-radius: 10px;
            height: 100%;
            width: 100%;
        }
    }
}