.more-nav{
    display: flex;
    align-items: center;
    grid-gap: clamp(24px, 3.3333vw, 48px);

    @include mobile{
      
        @include for-ios{
            justify-content: center;
            grid-gap: 48px;
        }
    }

    @include ios{
        justify-content: space-between;
    }

    &__btn{
        font-family: var(--third-family);
        font-weight: 400;
        font-size: clamp(20px, 2.4306vw, 35px);
        line-height: 102%;
        color: var(--cl-n);
        padding-bottom: clamp(6px, .6944vw, 10px);
        border-bottom: solid 1px transparent;
        transition: all .3s;

        &.active{
            color: var(--cl-e);
            border-color: var(--br-e);
        }
    }
}