.news-list {
  display: grid;
  grid-gap: clamp(20px, 1.6667vw, 24px);

  @include for-laptop {
    grid-template-columns: repeat(3, 1fr);
  }

  @include laptop {
    @include for-tablet {
      grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    }
  }

  @include tablet {
    @include for-mobile {
      grid-template-columns: repeat(auto-fill, minmax(345px, 1fr));
    }
  }

  @include mobile {
    grid-template-columns: 100%;
  }
}
