.product-slider{
    display: flex;
    grid-gap: 24px;

    @include for-tablet{
        height: Min(40.6944vw, 586px);
    }

    @include tablet{
        @include for-small-tablet{
        flex-direction: column;
        }
    }

    @include small-tablet{
        @include for-mobile{
            height: Min(81.51vw, 626px);
        }
    }

    @include mobile{
        flex-direction: column;
    }


    &__main{
        width: clamp(385px, 40.6944vw, 586px);

        @include tablet{
            @include for-small-tablet{
                width: 100%;
                aspect-ratio: 1;
                display: flex;
            }
        }

        @include small-tablet{
            width: 100%;
        }

        @include mobile{
            width: 100%;
            aspect-ratio: 1;
            display: flex;
        }

        .swiper-slide{
            display: flex;
            width: 100% ;
            aspect-ratio: 1;
            z-index: 1;
            position: relative;

            &::before{
                position: absolute;
                content: '';
                background-image: var(--view);
                display: block;
                width: 35px;
                height: 35px;
                top: 15px;
                right: 15px;
                z-index: 3;
                cursor: pointer;
                transition: all .3s;
            }

            a{
                display: flex;
                width: 100%;
                aspect-ratio: 1;
            }

            img,picture{
                display: flex;
                width: 100%;
                aspect-ratio: 1;
            }

            &:hover{
                &::before{
                    transform: scale(1.15);
                }
            }
        }
    }



    .sub-slider{
        @include for-tablet{
            width: Min(6.8056vw, 98px);
        }

        @include tablet{
            @include for-small-tablet{
                width: 100%;
            }
        }

        @include small-tablet{
            @include for-mobile{
                width: 98px;
            }
        }

        @include mobile{
            width: 100%;
        }

        .swiper-slide{
            display: flex;
            width: 100%;
            aspect-ratio: 1;
            cursor: pointer;

            img,picture{
                display: flex;
                width: 100%;
                aspect-ratio: 1;
            }
        }
    }
}