[data-btn-modal] {
  svg {
    pointer-events: none;
  }
}

.modal {
  margin: auto;
  transform: scale(.8);
  display: none;

  &.active {
    transform: scale(1);
  }

  .close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    right: clamp(10px, 1.3021vw, 20px);
    top: clamp(10px, 1.3021vw, 20px);
    width: 24px;
    height: 24px;
    transition: all .3s;
    color:  var(--cl-c);
    opacity: .5;

    &:hover{
      opacity: 1;
    }
  }

  .close svg {
    pointer-events: none;
    width: 100%;
    height: 100%;
  }
}
