:root {
  // --------------- default global variables ---------------
  // --error-bg: #d01f1f;
  --body-bg: #FAF6EE;
  --body-font-size: 16px;
  --content-width: 1440px;
  --content-width-mode: 1920px;

  --content-width-mini: 1120px;
  --content-width-medium: 1247px;

  --container-offset: clamp(16px, 1.6667vw, 24px);
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  --container-width-mode: calc(var(--content-width-mode) + (var(--container-offset) * 2));
  --container-width-mini: calc(var(--content-width-mini) + (var(--container-offset) * 2));
  --container-width-medium: calc(var(--content-width-medium) + (var(--container-offset) * 2));

  // --------------- default scroll variables ---------------
  --scrollbar-thumb:  #F6D43B;
  --scrollbar-track: rgba(0, 0, 0, 0.18);
  --scrollbar-track-hover: transparent;
  --overlay-bg: rgba(0, 0, 0, 0.5);

    // --------------- default JS variables ---------------
    --header-height: 91px;
 
    @include tablet{
      --header-height: 60px;
    }

  // --------------- default font-family variables ---------------

  --font-family: "PT-Sans", sans-serif; // var(--font-family);
  --second-family: "Istok", sans-serif; // var(--second-family);
  --third-family: "CharisSIL", sans-serif; // var(--third-family);
  --font3:  "DM-Sans", sans-serif; // var(--font3);
  --font4:  "Ubuntu", sans-serif; // var(--font4);

  // --------------- default text color variables ---------------
  --cl-a: #ffffff; // var(--cl-a);
  --cl-b: #000000; // var(--cl-b);
  --cl-c:  #1e0b07; // var(--cl-c);
  --cl-d: #000f9f; // var(--cl-d);
  --cl-e:  #01073d; // var(--cl-e);
  --cl-f: #b6a7a4; // var(--cl-f);
  --cl-g: #DB6550; // var(--cl-g);
  --cl-h: #a33f2d; // var(--cl-h);
  --cl-j:  #6e2b1f; // var(--cl-j);

  // --------------- default background color variables ---------------
  --bg-a: #ffffff; // var(--bg-a);
  --bg-b: #000000; // var(--bg-b);
  --bg-c: #edeffd; // var(--bg-c);
  --bg-d: #000f9f; // var(--bg-d);
  --bg-e: #a33f2d; // var(--bg-e);


  --bg-f: #f9dedc; // var(--bg-f);
  --bg-g: #0f1f26; // var(--bg-g);
  --bg-h: #CAC4D0; // var(--bg-h);

  // --------------- default border color variable ---------------
  --br-a: #000f9f; // var(--br-a);
  --br-b: #343131; // var(--br-b);
  --br-c: #CED2FE; // var(--br-c);


  --br-d: #E6E0E9; // var(--br-d);

 // --------------- default gradient color variable ---------------
 --gr-a: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(245,240,226,1) 60%); // var(--gr-a);

 // --------------- loader variable -------------------------------
 --loader: linear-gradient(90deg, #FDD65F 0%, rgba(255, 255, 255, 1) 49%, rgba(255, 255, 255, 1) 51%, #0000fd 100%); // var(--loader);
}       


